/* CSS Document */

body {
    background-color: #9e9f9f;
}
h1 {
    font-family: Arial;
    font-size: 250%;
}
h2 {
    font-family: Arial;
}
p {
    font-family: Arial;
    font-size: 130%;
}
.bg-custom {
    background-color:rgba(0, 0, 0, 0.5);
}
.jumbotron{
    position: relative;
    z-index:-2;
  }
#video-background { 
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
    width:100%;
  }
