/* CSS Document */

body {
    -webkit-animation: colorchange 30s infinite; 
    animation: colorchange 30s infinite;
}
@-webkit-keyframes colorchange {
     0%  {background: #F5DCAE;}
    25%  {background: #DEB887;}
    50%  {background: #CD853F;}
    75%  {background: #D2B48C;}
    100% {background: #FFE4C4;}
}
@keyframes colorchange {
     0%  {background: #F5DCAE;}
    25%  {background: #DEB887;}
    50%  {background: #CD853F;}
    75%  {background: #D2B48C;}
    100% {background: #FFE4C4;}
} 
h1 {
    font-family: Arial;
    font-size: 250%;
}
h2 {
    font-family: Arial;
}
p {
    font-family: Arial;
    font-size: 130%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #e6e5e3;
}
li a {
    display: block;
    color: #a67126;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #555;
    color: #e6e5e3;
  }